{% extends 'base.html' %}


    {% block title %}Skills-Web{% endblock %}

    {% block content %}
    <h1>Application Form</h1>
        <p class="instructions">Thank you for you interest, may I have the following information?</p>
            <form action="/application-response" method = "POST">
                First Name: <input type="text" name="first_name"><br>
                <b>Last Name:</b> <input type="text" name="last_name"><br>
                May I have your salary requirement as a number value:<input type="text" name="salary"><br>
                Which job title are you applying for:
                <select name="job_title">
                    <option value="Software Engineer"> Software Engineer</option>
                    <option value="QA Engineer">QA Engineer</option>
                    <option value="Product Manager">Product Manager</option>
                </select><br>
                                
                <input type="submit">
            <form>
<!-- This page needs a form that can capture data about the user's
first name, last name, job title, and salary requirements. -->

    {% endblock %}